*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 41, 41);
    color: white;
    background-image: url('backgroundspace.jpg');
    background-size: cover;
}



.location,
.temperature{
    height: 30vh;
    display: block;
    justify-content: space-around;
    align-items: center;
}
.location,
.temperature{
    flex-direction: column;
    width: 70%;
    text-align: right;

}
.weather{
    display: block;
    width: 70%;
    text-align: right;
}

.temperature.degree-section {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

 span{
    
    width: 50px;
    font-size: 40px;
    color: #ff8040;
    width: 10%;
    font-family: sans-serif;
}

 h2{
    font-size: 80px;
    width: 400px;

}
h3{
    color: gray;
    font-family: sans-serif;
}

.location-timezone{
    margin-top: 10px;
    font-family: sans-serif;
}

.location{
    text-align: left;
    width: 80%;
}

.icon{
    margin-top: 25px;
    align-items: center;
}

.temperature-description{
    margin-top: 20px;
    font-size: 24px;
    font-family: sans-serif;
}

.temperature-degree{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
    .temperature{
        flex-direction: column;
        width: 50%;
        text-align: left;
    
    }
    .location-timezone{
        font-size: 20px;
    }
    .weather{
        display: block;
        width: 50%;
        text-align: right;
    }
    .temperature-description{
        margin-top: 20px;
        text-align: left;
        font-size: 24px;
    }
    
  }